

.title {
    font-size: 30px;
    color: blue;
}

.text-style {
    font-size: 90px;
    color: blue;
}

.container {
    flex-direction: column;
}

.item {
    flex-direction: column;
}

.image-player {
    width: 200px;
    height: 200px;
}
